<div class="chat-container">
    <span class="chat-title drop-shadow">{{title}}</span>
    <div class="chat-list-container" scroll-glue>
        <md-list class="chat-list">
            <md-list-item ng-repeat="message in chat.messages">
                <img ng-src="{{message.user.avatar || '/libs/material-design-icons/social/1x_web/ic_person_black_36dp.png'}}" class="md-avatar" alt="{{message.user.name}}" />
                <div class="md-list-item-text">
                    <span class="message-user">{{message.user.name}}</span>
                    <span class="message-date">{{message.date | date : 'shortTime'}}</span>
                    <p class="message-text" ng-bind="message.text"></p>
                </div>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </div>
    <div class="chat-input-container drop-shadow-top">
        <md-input-container md-no-float class="chat-input">
            <form ng-submit="sendMessage(chat.currentMessage)">
                <input ng-model="chat.currentMessage.text" placeholder="Message...">
                <md-button class="md-icon-button md-mini" aria-label="Send">
                    <md-icon md-svg-src="/libs/material-design-icons/content/svg/design/ic_send_24px.svg"></md-icon>
                </md-button>
            </form>
        </md-input-container>
    </div>
</div>